<div class="main-content">
  <h1>Bem-vindo ao painel</h1>
  <p>Aqui fica o conteúdo da página.</p>
</div>

<nav *ngIf="canSeeOptions()">
  <div>
    <a href="#">Despesas</a>
    <button *ngIf="authService.canRegisterExpense()" (click)="navigateToRegisterExpense()">Cadastrar</button>
    <button *ngIf="authService.canSeeRequests()" (click)="navigateToSolicitations()">Solicitações</button>
    <button *ngIf="authService.canGetReport()" (click)="navigateToReports()">Relatórios</button>
  </div>
  <div>
    <p>{{ getUsername() }}</p>
    <button (click)="authService.logout()">logout</button>
  </div>
</nav>
