<form (ngSubmit)="createExpense()" class="expense-form" *ngIf="canSeeForm()">
  <h1>Cadastrar Despesa</h1>
  <div class="expense-input">
    <label for="type">Reembolsável:</label>
    <select [(ngModel)]="type" name="type" id="type">
      <option [value]="0">Reembolsável</option>
      <option [value]="1">Não reembolsável</option>
    </select>
    <p>Valor: </p>
    <input [(ngModel)]="value" type="number" name="value">
    <p>Comprovante: </p>
    <input [(ngModel)]="receipt" type="text" name="rececipt">
  </div>
  <div class="expense-input">
    <p>Descrição: </p>
    <input [(ngModel)]="description" type="text" name="description">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>
